<nav class="navbar">

<div class="logo">
    <img src="assets/images/company/logo.jpeg" alt="K.S Enterprises">

    <div class="logo-text">
        <h2>K.S Enterprises</h2>

        <p class="company-tag">
            📍West Bengal, India
        </p>

        <p class="company-tag">
            GSTIN: 19HEJPM8267M1ZE
        </p>
    </div>
</div>

<ul class="nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="certifications.html">Certificates</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="contact.html">Contact</a></li>
</ul>

<a href="https://wa.me/919647972698" class="quote-btn">
    Get Quote
</a>

</nav>